.button{
    padding: 1rem 1rem;
    border-radius: 50px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;
    border: 1px;
    border-style: solid;
    
    @media screen and (max-width: 767px){
        height: 30px;
        width: auto;
        align-self: center;
    }
    &--accent {
        background-color: $color-accent;
        color: $color-white;
        border-color: $color-accent;
        text-decoration: none;
    }
    &--accent-outline {
        background-color: transparent;
        color: $color-accent;
        border-color: $color-accent;
    }

    &--overlay{
        height: auto;
        margin: 10px auto;
        width: 50%;
    }
}