.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap:18;
    max-width: 330px;
    left: 0px;
    background-color: $color-white;
    border-radius:8px;    
    font-size: 19px;
    box-shadow: $regular-shadow;
    @media screen and (max-width: 767px){
        max-width: 90%;
    }
    img{
        width: 60px;
    }
    &--center {
        align-items: center;
        text-align: center;
        font-size: 16px;
        width: 200px;
        @media screen and (max-width: 767px){
            flex-direction: column;
            width: 100%;
            padding: 0;
        }
    }
}


/* .cards{
    margin-top: 200px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    gap:30px;
    
    &__card{
      display: flex;
      justify-content: center;
      position: relative;
      height: auto;
      width: 90%;
      cursor: pointer;
      box-shadow: $regular-shadow;
      background-color: transparent!important;
      //border: 1px solid;
      &:hover{
       .text{
         background-color: $color-yellow-3;
         transition: .5s;
         transform: scale(1.06);
         transform:translateX(-10px)
       }
       .img{
         img{
          transform: scale(1.06);
          opacity: 0.8;
          transition: 2s;
          border-radius: 1rem;
          transform: rotateZ(.5deg);
         }
       }
      }
      .img{
        
        img{
          width: 100%;
          height: auto;
          border-radius: .5rem;
          
        }
      }
      .text{
        background-color:$color-white;
        width: 80%;
        height:max-content;
        padding-right: 10px;
        padding-left: 10px;
        position: absolute;
        align-self: flex-end;
        bottom: -15px;
        right: 0px;
        border-radius: 0.5rem;
        
        //border: 1px solid;
      }
    }
  
  }
   */


  .blog-card{
    width: 1110px;
    height: 300px;
    //border: 1px solid;
    display: flex;
    position: relative;
    box-shadow: $regular-shadow;
    background: transparent;
    border-radius: 15px!important;
    &__img{
      img{
        height: 300px;
        border-radius: 15px!important;
      }
    }
    &__container-text{
      border-radius: 15px!important;
      line-height: 30px;
      position: absolute;
      right: 0;
      background-color: white;
      padding: 0rem;
      width: 750px;
      height: 300px;
      clip-path: ellipse(50% 110% at 70% 50%);
      border-radius: 15px;
      &__text{
        padding-left: 15rem;
        padding-top: 1rem;
        padding-right: 1rem;
      }
      
    }
  }

  .cards{
    width: 1110px;
    height: auto;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    gap:30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 200px;
    &__blog-card--small{
      width: 350px;
      height: 140px;
      //border: 1px solid;
      display: flex;
      position: relative;
      box-shadow: $larger-shadow;
      border-radius: 10px!important;
      &__img{
        img{
          width: auto;
          height: 140px;
          border-radius: 10px!important;
        }
      }
      &__container-text{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0px;
        background-color: white;
        //border:1px solid;
        width: 250px;
        height: 140px;
        clip-path: ellipse(50% 110% at 70% 50%);
        border-radius: 10px!important;
        &__text{
          padding-left: 4rem;
          padding-top: 0.1rem;
          padding-right: .1rem;
          p{
            font-size: 15px;
            font-weight: 500;
            line-height: 21px;
          }
        }
      
    }
    }
  }

.blog-card--square{
      width: 350px;
      height: 350px;      
      display: flex;
      flex-direction: column;
      position: relative;
      box-shadow: $larger-shadow;
      border-radius: 10px!important;
      &__img{
        img{
          width: 350px;
          height: auto;
          border-radius: 10px!important;
        }
      }
      &__container-text{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        background-color: white;
        //border:1px solid;
        width: 350px;
        height: 225px;
        clip-path: ellipse(90% 60% at 50% 70% );
        border-radius: 10px!important;
        &__text{
          padding-left: 1.1rem;
          padding-top: 0rem;
          padding-right: 1rem;
          p{
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
          }
          small{
            color: #7F7F7F;
          }
        }
      
    }
    
}