.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap:18;
    max-width: 330px;
    left: 0px;
    background-color: $color-white;
    border-radius:8px;    
    font-size: 19px;
    box-shadow: $regular-shadow;
    @media screen and (max-width: 767px){
        max-width: 90%;
    }
    img{
        width: 60px;
    }
    &--center {
        align-items: center;
        text-align: center;
        font-size: 16px;
        width: 200px;
        @media screen and (max-width: 767px){
            flex-direction: column;
            width: 100%;
            padding: 0;
        }
    }
}


.cards{
    margin-top: 200px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    gap:30px;
  
    &__card{
      display: flex;
      justify-content: center;
      position: relative;
      height: auto;
      cursor: pointer;
      //border: 1px solid;
      &:hover{
       .text{
         background-color: white;
         transition: .5s;
         transform: scale(1.06);
         transform:translateX(-10px)
       }
       .img{
         img{
          transform: scale(1.06);
          opacity: 0.8;
          transition: 2s;
          border-radius: 1rem;
          transform: rotateZ(.5deg);
         }
       }
      }
      .img{
        img{
          width: 100%;
          height: auto;
          border-radius: .5rem;
          
        }
      }
      .text{
        background-color: whitesmoke;
        width: 80%;
        height:max-content;
        padding-right: 10px;
        padding-left: 10px;
        position: absolute;
        align-self: flex-end;
        bottom: -15px;
        right: 0px;
        border-radius: 0.5rem;
        
        //border: 1px solid;
      }
    }
  
  }
  