/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    width: 240px;
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
  background-color: transparent;
  
}

/* Style the arrow inside the select element: */
.select-selected:after {
    /* position: absolute;
    content: "";
    top: 18px;
    right: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent; */
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }


/* Point the arrow upwards when the select box is open (active): */
/* .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
    
  } */
  
  /* style the items (options), including the selected item: */
  .select-items div {
    color: black;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .select-selected{
    color: white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 4px;
    
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: $color-primary-light;
    
  }